# Ignore everything by default
*

# Allow client/ and server/ directories
!client/
!server/

# Allow README.md
!README.md

# Ignore node_modules everywhere
**/node_modules/

# Ignore virtual environment inside server/
server/venv/
venv/


# Rasa-specific ignores
models/
__pycache__/
data/.rasa/
*.db
*.sqlite
*.log