# Ignore everything outside the project
../
../../
../../../
../../../../

# Ignore node_modules everywhere
**/node_modules/


/venv/
server/venv/

# But keep these project folders
!client/
!server/
!README.md